@{
    ViewData["Title"] = "Login";
}

<div>
    <form method="post" action="Login/Save?redirectUrl=/Home/Privacy">
        <input name="login" type="text" />
        <input name="password" type="password" />
        <button>Login</button>
    </form>
</div>